[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https:github.comdavidhalter/jedi-vim
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https:github.comsjbach/lusty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https:github.combling/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https:github.comtpope/vim-fugitive
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https:github.compangloss/vim-javascript
[submodule "bundle/vim-plugin-dirsettings"]
	path = bundle/vim-plugin-dirsettings
	url = https:github.commantiz/vim-plugin-dirsettings
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https:github.comklen/python-mode
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https:github.comscrooloose/syntastic
[submodule "bundle/vim-table-mode"]
	path = bundle/vim-table-mode
	url = https:github.comdhruvasagar/vim-table-mode
[submodule "bundle/vim-taskwarrior"]
	path = bundle/vim-taskwarrior
	url = https://github.com/farseer90718/vim-taskwarrior
[submodule "bundle/unite"]
	path = bundle/unite
	url = https:github.comShougo/unite.vim
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https:github.comtpope/vim-speeddating
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/hoc.vim"]
	path = bundle/hoc.vim
	url = https:github.comsanjayankur31/hoc.vim
[submodule "bundle/nmodl.vim"]
	path = bundle/nmodl.vim
	url = https:github.comsanjayankur31/nmodl.vim
